# Advanced Sets

In [1]:
s=set()

### add() 
This will append items to the set

In [2]:
s.add(1)

In [3]:
s.add(2)

In [4]:
s

{1, 2}

In [5]:
s.add(2)

In [6]:
s

{1, 2}

### clear()
Empties the set

In [7]:
s.clear()

In [8]:
s

set()

### copy()
Copies the set data of one set to another

In [26]:
s={1,2,3}

In [27]:
sc=s.copy()

In [28]:
sc

{1, 2, 3}

### differnece()
Tells the differnece between the two sets

In [29]:
s.difference(sc)

set()

In [30]:
s.add(4)

In [31]:
s

{1, 2, 3, 4}

In [32]:
sc

{1, 2, 3}

In [33]:
s.difference(sc)

{4}

### differnece_update()
It finds the common element between the two sets and removes it from set1

In [18]:
s1={1,2,3}
s2={1,4,5}

In [19]:
s1.difference_update(s2)

In [20]:
s1

{2, 3}

In [21]:
s2

{1, 4, 5}

### discard()
Removes the specified element from the set

In [35]:
s.discard(2)

In [36]:
s

{1, 3, 4}

### intersection()
Finds the common element between two sets

In [37]:
s1={1,2,3}
s2={1,2,4}

In [38]:
s1.intersection(s2)

{1, 2}

### intersection_update()
Finds the common element and stores in first set i.e s1

In [40]:
s1.intersection_update(s2)

In [41]:
s1

{1, 2}

### isdisjoint()
Returns True, if there are no common elements common between two sets

In [42]:
s1={1,2}
s2={1,2,4}
s3={5}

In [43]:
s1.isdisjoint(s2)

False

In [44]:
s2.isdisjoint(s3)

True

### issubset()
Returns True, if the first set is the sub set of second set i.e. first set is part of second set

In [45]:
s1.issubset(s2)

True

In [46]:
s2.issubset(s1)

False

### issuperset()
Returns True, if the first set is the super set of second set i.e. first set consists second set

In [48]:
s1.issuperset(s2)

False

In [49]:
s2.issuperset(s1)

True

### symmetric_diffrence(s2)
Finds the union of elements between the elemets of set1 that are not in set2 and the elements of set2 that are not in set1  
i.e (set1-set2)u(set2-set1)

In [50]:
s1.symmetric_difference(s2)

{4}

In [51]:
s2.symmetric_difference(s1)

{4}

In [52]:
s1.symmetric_difference(s3)

{1, 2, 5}

In [53]:
s3.symmetric_difference(s2)

{1, 2, 4, 5}

### union()
Union of two sets will be all the elements of two sets A and B

In [55]:
s1.union(s2)

{1, 2, 4}

In [56]:
s2.union(s3)

{1, 2, 4, 5}

### update()
Update the first set with the union of two sets i.e set1 and set2

In [58]:
s3.update(s1)

In [59]:
s3

{1, 2, 5}