Q1.LESSER OF TWO EVENS: 
Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [1]:
def check_even(n1,n2):
    if n1%2==0 and n2%2==0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [6]:
check_even(2,4)

2

In [7]:
check_even(2,5)

5

Q2.ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [25]:
def animal_cracker(s):
    c=0
    sep=s.split()
    for word in sep:
        c+=1
    if c==2:
        if sep[0][0]==sep[1][0]:
            return True
        else:
            return False
    else:
        print('Please enter a 2 word string to check for animal crackers')

In [32]:
animal_cracker("Levelheaded Llama")

True

In [33]:
animal_cracker("Crazy Kangaroo")

False

Q3.MAKES TWENTY: 
Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [37]:
def makes_twenty(num1,num2):
    sum=num1+num2
    if num1==20 or num2==20 or sum==20:
        return True
    else:
        return False

In [38]:
makes_twenty(20,10)

True

In [39]:
makes_twenty(12,8)

True

In [40]:
makes_twenty(2,3)

False

Q4.OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [103]:
def old_macdonald(name):
    c=0
    d=""
    r1=name[0].upper()
    r2=name[3].upper()
    for i in name:
        if c==0:
            d+=r1
        elif c==3:
            d+=r2
        else:
            d+=i
        c+=1
    return d

In [105]:
old_macdonald('macdonald')

'MacDonald'

Q5.MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [137]:
def master_yoda(name):
    res=""
    rev=name.split()
    rev.reverse()
    for word in rev:
        res+=word+" "
    return res

In [138]:
master_yoda("Hello world")

'world Hello '

Q6.ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [160]:
def almost_there(num):
    if (num>=90 and num<=110) or (num>=190 and num<=210):
        return True
    else:
        return False

In [162]:
almost_there(90)

True

In [163]:
almost_there(104)

True

In [164]:
almost_there(150)

False

In [165]:
almost_there(209)

True

Q7.FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [199]:
def find33(*args):
    length=len(args)
    c=0
    l=0
    for i in args:
        if l<length-1:
            if args[l]==3 and args[l+1]==3:
                c+=1
        l+=1
    if c>0:
        return True
    else:
        return False

In [200]:
find33(1,3,3)

True

In [201]:
find33(1,3,3,1)

True

In [202]:
find33(3,1,3)

False

In [203]:
find33(1,3,3,3,3,3,1)

True

Q8.PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [204]:
def paper_doll(s):
    string=""
    for letter in s:
        string+=(letter*3)
    print(string)

In [205]:
paper_doll("Hello")

HHHeeellllllooo

In [206]:
paper_doll("Mississippi")

MMMiiissssssiiissssssiiippppppiii

Q9.BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [207]:
def blackjack(num1,num2,num3):
    #Check that all the number lies from 1 to 11
    sum=0
    if (num1>=1 and num1<=11) and (num2>=1 and num2<=11) and (num3>=1 and num3<=11):
        sum=num1+num2+num3
        if sum<=21:
            return sum
        elif sum>21 and (num1==11 or num2==11 or num3==11):
            return sum-10
        elif sum>21:
            return 'BUST'

In [208]:
blackjack(5,6,7)

18

In [209]:
blackjack(9,9,9)

'BUST'

In [210]:
blackjack(9,9,11)

19

Q10.SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [253]:
def summer_69(*args):
    sum=0
    l=len(args)
    a=0
    b=0
    var1=0
    var2=0
    for i in args:
        if a<l:
            if i==6:
                var1=a
            elif i==9:
                var2=a
            else:
                pass
            a+=1
    for j in args:
        if b<l:
            if b>=var1 and b<=var2:
                sum+=0
            else:
                sum+=j
            b+=1
    return sum

In [254]:
summer_69(1,3,5)

8

In [255]:
summer_69(4,5,6,7,8,9)

9

In [256]:
summer_69(2,1,6,9,11)

14

Q11. SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [285]:
def spy_game(*args1):
    args=list(args1)
    c=0
    i=-1
    l=len(args)
    for num in args:
        i+=1
        if i<(l-3):
            if args[i]==0 and args[i+1]==0 and args[i+2]==7:
                c=+1
            else:
                continue    
    if c>0:
        return True
    else:
        return False

In [286]:
spy_game(1,2,4,0,0,7,5)

True

In [287]:
spy_game(1,0,2,4,0,5,7)

False

In [288]:
spy_game(1,7,2,0,4,5,0)

False

Q12. COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [291]:
def count_prime(num):
    count=0
    for i in range(2,(num+1)):
        c=0
        for j in range(1,(i+1)):
            if i%j==0:
                c+=1
        if c==2:
            count+=1
    return count

In [296]:
count_prime(100)

25

Q13.PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [311]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4],'F':[4,9,4,9,9],'H':[3,3,4,3,3]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [312]:
print_big('h')

*   *
*   *
*****
*   *
*   *