In [1]:
mylist=['saurabh',20,20.3]

In [2]:
mylist

['saurabh', 20, 20.3]

In [3]:
mylist[0]

'saurabh'

In [4]:
mylist[1:]

[20, 20.3]

In [5]:
another=['one','two']

In [6]:
another

['one', 'two']

In [7]:
total=mylist+another

In [8]:
total

['saurabh', 20, 20.3, 'one', 'two']

In [9]:
mylist[1]='Agarwal'

In [10]:
mylist

['saurabh', 'Agarwal', 20.3]

In [11]:
another.append("three")

In [12]:
another

['one', 'two', 'three']

In [13]:
another.pop()

'three'

In [14]:
another

['one', 'two']

In [15]:
another.pop(0)

'one'

In [16]:
another

['two']

In [17]:
mylist

['saurabh', 'Agarwal', 20.3]

In [18]:
mylist.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [19]:
alp=['b','x','a','d']
num=[4,1,0,2]

In [20]:
alp.sort()
num.sort()

In [21]:
alp

['a', 'b', 'd', 'x']

In [22]:
num

[0, 1, 2, 4]

In [23]:
num.reverse()

In [24]:
num

[4, 2, 1, 0]