In [1]:
mystring="hello"
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [2]:
mylist

['h', 'e', 'l', 'l', 'o']

In [3]:
mylist=[letter for letter in mystring]

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist1=[num for num in range(0,11)]

In [6]:
mylist1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
mylist2=[num**2 for num in range(0,11)]

In [8]:
mylist2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
mylist3=[x for x in range(0,11) if x%2==0]

In [10]:
mylist3

[0, 2, 4, 6, 8, 10]

In [11]:
celcius=[0,10,20,34.5]
fahrenheit=[((9/5)*temp+32) for temp in celcius]

In [12]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [13]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]

In [14]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [15]:
mylist5=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist5.append(x*y)

In [16]:
mylist5

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [17]:
mylist6=[x*y for x in [2,4,6] for y in [100,200,300]]

In [18]:
mylist6

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]