# loc, iloc and ix

There are 3 ways to select data from dataframe loc,iloc and ix

In [1]:
import pandas as pd

In [2]:
xlxs_path='C:/Users/500060783/Desktop/ECELL/Budget/SHECON_Payment_list.xlsx'

In [3]:
df=pd.read_excel(xlxs_path)

In [4]:
df.head()

,S.No.,Holder Name,SAPID,Bank Name,IFSC code,Account No.,Phone No.,Amount (Rs.)
0,1.0,PIYUSH PRAJAPATI,500069787,Bank of Baroda,BARB0SHACOL,5.179010e+13,9.968996e+09,3000
1,2.0,LOVE SHARMA,500076077,Corporation Bank,CORP0001317,5.201012e+14,6.376386e+09,2000
2,3.0,PURVESH SANDEEP KOTIAN,500066977,State Bank of India,SBIN0005087,3.563470e+10,9.870318e+09,3000
3,4.0,MAYANK MALOO,500075920,Syndicate Bank,SYNB0007391,7.391201e+13,9.101892e+09,2000
4,5.0,MANUJ,500055370,Andhra Bank,ANDB0002250,2.250101e+14,8.954477e+09,2000

## loc

loc is primarily label based when 2 arguments are used,you use column header and row indexes to select the data you want.  
loc can also take an integer as a row or column number.  
loc will return KeyError if the requested items are not found.

In [5]:
df.loc[0,'Holder Name']

'PIYUSH PRAJAPATI'

In [6]:
df.loc[1,'Bank Name']

'Corporation Bank'

## iloc

iloc is integer based.  
You use column numbers and row numbers to get row numbers to get rows or columns at a particular positions in the data frame.  
iloc will return an IndexError if the requested indexer is out-of-bounds.

In [8]:
df.iloc[0,1]

'PIYUSH PRAJAPATI'

In [9]:
df.iloc[1,2]

500076077

## ix

By default ix looks for a label, if ix doesn't find a label,it will use an integer.  
This means you can select data by using either column numbers and row numbers or column headers and row numbers using ix.

In [15]:
df.ix[1,'Holder Name']

C:\Users\500060783\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'LOVE SHARMA'

### Using loc and iloc slicing:

Creating a new dataframe with loc slicing.

In [16]:
z=df.loc[0:2,'Holder Name':'Bank Name']

In [17]:
z

              Holder Name      SAPID            Bank Name
0        PIYUSH PRAJAPATI  500069787       Bank of Baroda
1             LOVE SHARMA  500076077     Corporation Bank
2  PURVESH SANDEEP KOTIAN  500066977  State Bank of India

Creating a new dataframe with iloc slicing

In [18]:
z=df.iloc[0:2,0:3]

In [20]:
z # In this we assign the first two rows and three columns to the variable z

   S.No.       Holder Name      SAPID
0    1.0  PIYUSH PRAJAPATI  500069787
1    2.0       LOVE SHARMA  500076077

#### Working with and saving data in Pandas

In [24]:
df['Amount (Rs.)'].unique() # To find unique elements in Amount column

array([3000, 2000, 1000, 'Total=Rs.17,000', nan], dtype=object)

In [31]:
df['S.No.'] > 1.0 # To find out the s.no.>1.0

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: S.No., dtype: bool

In [32]:
df1=df[df['S.No.']>1.0]

In [33]:
df1

,S.No.,Holder Name,SAPID,Bank Name,IFSC code,Account No.,Phone No.,Amount (Rs.)
1,2.0,LOVE SHARMA,500076077,Corporation Bank,CORP0001317,5.201012e+14,6.376386e+09,2000
2,3.0,PURVESH SANDEEP KOTIAN,500066977,State Bank of India,SBIN0005087,3.563470e+10,9.870318e+09,3000
3,4.0,MAYANK MALOO,500075920,Syndicate Bank,SYNB0007391,7.391201e+13,9.101892e+09,2000
4,5.0,MANUJ,500055370,Andhra Bank,ANDB0002250,2.250101e+14,8.954477e+09,2000
5,6.0,SAURABH AGARWAL,500060783,State Bank of India,SBIN0005556,3.697483e+10,7.088118e+09,2000
6,7.0,MUSKAAN MADAN,500068520,HDFC,HDFC0000854,5.010023e+13,7.455066e+09,1000
7,8.0,PRANAV SAXENA,500060865,Bank of India,BKID0009110,9.110101e+14,7.587504e+09,1000
8,9.0,OMEGA POWERTECH,500076693,PNB,PUNB0205100,2.051002e+15,9.312896e+09,1000

In [34]:
df1.to_csv('new_details.csv') # To save as csv