Q1.Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [3]:
(100/20*5-15)**2+0.25

100.25

Q2.Answer these 3 questions without typing code. Then type code to check your answer.

What is the value of the expression 4 * (6 + 5)

What is the value of the expression 4 * 6 + 5 

What is the value of the expression 4 + 6 * 5

In [5]:
#44
4 * (6 + 5)

44

In [6]:
#29
4 * 6 + 5

29

In [7]:
#34
4 + 6 * 5

34

Q3.What is the type of the result of the expression 3 + 1.5 + 4?

In [8]:
#float
type(3+1.5+4)

float

Q4.What would you use to find a numberâ€™s square root, as well as its square?

In [9]:
#Suppose number a is 5
a=5
sqrt=a**1/2
sqr=a**2

In [10]:
sqrt

2.5

In [11]:
sqr

25

Q5.
(a) Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [15]:
str='hello'
print(str[1])

e

(b) Reverse the string 'hello' using slicing

In [18]:
print(str[::-1])

olleh

(c) Given the string hello, give two methods of producing the letter 'o' using indexing.

In [19]:
#Method1
print(str[4])

o

In [20]:
#Method2
print(str[-1])

o

Q6. Build this list [0,0,0] two separate ways.

In [23]:
#Method1
mylist1=[0,0,0]
print(mylist1)

[0, 0, 0]

In [24]:
#Method2
mylist2=[0]*3
print(mylist2)

[0, 0, 0]

Q7.Reassign 'hello' in this nested list to say 'goodbye' instead:

list3 = [1,2,[3,4,'hello']]

In [25]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Q8.Sort the list below:

list4 = [5,3,4,6,1]

In [28]:
list4=[5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

Q9.Using keys and indexing, grab the 'hello' from the following dictionaries:

(a) d = {'simple_key':'hello'}
#Grab 'hello'

(b) d = {'k1':{'k2':'hello'}}
#Grab 'hello'

#Getting a little tricker
(c) d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
#Grab hello

#This will be hard and annoying!
(d) d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [32]:
#(a)
d = {'simple_key':'hello'}
d['simple_key']

'hello'

In [33]:
#(b)
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [39]:
#(c)
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [41]:
#(d)
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Q10.Use a set to find the unique values of the list below:
    list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [42]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

Q11.# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

In [44]:
#False
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]
l_one[2][0] >= l_two[2]['k1']

False