#range(start,stop,step_size)

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(6,10):
    print(num)

6
7
8
9

In [4]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

#enumerate()

In [7]:
word="abcde"
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [11]:
word="abcde"
for index,value in enumerate(word):
    print(index)
    print(value)

0
a
1
b
2
c
3
d
4
e

#zip(list1,list2,list3,......listn)

In [14]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]
mylist4=[1,2,3,4,5,6]

In [15]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [17]:
for item in zip(mylist4,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [18]:
list(zip(mylist1,mylist2,mylist3,mylist4))

[(1, 'a', 100, 1), (2, 'b', 200, 2), (3, 'c', 300, 3)]

#in

In [19]:
2 in [1,2,3,4]

True

In [20]:
'a' in 'world of dance'

True

In [21]:
'mykey' in {'mykey':343}

True

In [23]:
d={'mykey':343}
343 in d.values()

True

#min() and max()

In [25]:
list1=[3,6,1,8,0,20,99]

In [26]:
min(list1)

0

In [27]:
max(list1)

99

#import
syntax: from library import function

In [29]:
list2=[1,2,3,4,5,6,7,8,9,10]
from random import shuffle

In [32]:
result=shuffle(list2)

In [33]:
list2

[10, 3, 7, 1, 5, 2, 9, 6, 4, 8]

In [36]:
result

In [37]:
from random import randint

In [38]:
r=randint(99,999)

In [39]:
r

794

#input()

In [40]:
result=input("What is your name?")

What is your name? Saurabh Agarwal

In [41]:
result

'Saurabh Agarwal'

In [43]:
result=input("Faviorite Number")

Faviorite Number 4

In [44]:
result

'4'

In [45]:
result=int(input("Faviorite Number"))

Faviorite Number 4

In [46]:
result

4